app:
  name: tips
  version: 1.0

management:
  endpoints:
    web:
      exposure:
        include: "*"

spring.liquibase.change-log: classpath:db/changeLog.sql

spring:
  config:
    additional-location: additional2.yml
    location: additional2.yml
  main:
    lazy-initialization: true
  mvc:
    apiversion:
      default: 1.0
      use:
        header: api-version

spring.http.service.client.tips.base-url: http://localhost:8090/persons
spring.http.service.client.tips.apiversion.insert.header: api-version
